{% extends 'layout.html' %}
{% block main %}
    {% if user.is_authenticated %}
        Hi {{ user.username }}!
    {% else %}
        <p>You are not logged in</p>
        <a href="{% url 'login' %}">login</a>
    {% endif %}
{% endblock %}