{% extends "layout.html" %}
{% block main %}
    <h3>All questions:</h3>
    {% if questions %}
        {% for question in questions %}
            <p><a href="{% url 'tst:question' question.id %}">{{ question.text }}</a> at {{ question.date }}
                <a href="{% url 'tst:deleteQuestion' question.id %}">Delete</a>
            </p>
        {% endfor %}
    {% endif %}

    <h3>Add question</h3>

    <form action="{% url 'tst:addQuestion' %}" method="post">
        {% csrf_token %}
        <textarea name="text" cols="30" rows="3"></textarea>
        <br>
        <input type="submit">
    </form>
{% endblock %}