{% extends 'layout.html' %}

{% block main %}
    <h3>{{ question.text }}</h3>

    <form action="{% url 'tst:updateQuestion' question.id %}" method="post">
        {% csrf_token %}
        <input type="text" name="text">
        <input type="submit" value="Update">
    </form>

    <h4>Marks:</h4>
    {% if chooses.count == 0 %}
        <p>No marks</p>
    {% else %}
        {% load tz %}
        {% for choice in chooses %}
            <p>{{ choice.mark }} stars at
                <small>
                    {{ choice.date|localtime }}
                </small>
            </p>
        {% endfor %}
    {% endif %}
    <br>
    <form action="{% url 'tst:addChoice' question.id %}" method="post">
        {% csrf_token %}
        <input max="5" min="1" placeholder="5" value="5" name="mark" type="number">
        <input type="submit">
    </form>
{% endblock %}