{% extends 'layout.html' %}

{% block title %} Music{% endblock %}
{% block main %}
    <p>hey</p>
    {% for item in music %}
        <p>{{ item.track_name }} | {{ item.time }} : <a href="#">{{ item.group.name|default:'Unknown' }}</a>
            from: {{ item.author.full_name|default:'Unknown' }}</p>
    {% endfor %}
{% endblock %}