<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/tst/style.css' %}">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>


    {% block styles %} {% endblock %}

    <meta charset="UTF-8">
    <title>{% block title %}Index{% endblock %}</title>
</head>


<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Django TestField</a>
        <a href="#" data-target="mobile-sidebar" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            {% if user.is_authenticated %}
                <li><a class='dropdown-trigger' data-target="userActions">{{ user.username }}</a></li>

                <ul id='userActions' class='dropdown-content'>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                </ul>

            {% else %}
                <li><a href="{% url '' %}">Register</a></li>
                <li><a href="{% url 'login' %}">Log in</a></li>
            {% endif %}

        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-sidebar">
    <li><a href="#">#</a></li>
</ul>

<body>
{% block main %}{% endblock %}
</body>

<script>
    $(document).ready(function () {
        $('.sidenav').sidenav();
    });

    $('.dropdown-trigger').dropdown();
</script>
{% block scripts %}{% endblock %}

</html>